# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_anaconda_depends=2019.03=py37_0
_ipyw_jlab_nb_ext_conf=0.1.0=py37_0
_libgcc_mutex=0.1=main
genometools-genometools
htseq=0.11.2=py37h637b7d7_1
joblib=0.14.1=py_0
last=874=h8b12597_3
minimap2=2.17=h8b12597_1
numpy=1.17.2=py37haad9e8e_0
numpy-base=1.17.2=py37hde5b4d6_0
pybedtools=0.8.1=py37he513fc3_0
pysam=0.15.3=py37hda2845c_1
samtools
scikit-learn=0.21.3=py37hd81dba3_0
scipy=1.4.1=py37h0b6359f_0
six=1.12.0=py37_0
